html {
  border: 2px solid red;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(lightyellow, orange);
}

header {
  margin-bottom: 30px;
  text-align: center;
  border: 2px solid green;
}

.section-container {
  display: flex;
  flex-direction: row;
  border: 2px solid blue;
  padding-right: 10vw;
  padding-left: 10vw;
}

.column {
  flex: 1;
  border: 2px solid green;
}

span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.3rem;
}
